<!doctype html>
<html lang="en" ng-app="timezonesApp">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title>Timezones Client</title>
	    
	    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap-theme.min.css"/>
	    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-sweetalert/sweet-alert.css"/>
	    
	    <link rel="stylesheet" type="text/css" href="/app/style/main.css"/>
	    
	    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	    <script type="text/javascript" src="/webjars/angularjs/angular-route.min.js"></script>
	    <script type="text/javascript" src="/webjars/angularjs/angular-cookies.min.js"></script>
	    <script type="text/javascript" src="/webjars/angular-base64/angular-base64.min.js"></script>
	    <script type="text/javascript" src="/webjars/bootstrap-sweetalert/sweet-alert.min.js"></script>
	    <script type="text/javascript" src="/app/app.js"></script>
	    <script type="text/javascript" src="/app/controllers/timezonesController.js"></script>
	    <script type="text/javascript" src="/app/controllers/loginController.js"></script>
	    <script type="text/javascript" src="/app/controllers/addOrUpdateTimezoneController.js"></script>
	    <script type="text/javascript" src="/app/services/loginService.js"></script>
	    <script type="text/javascript" src="/app/services/userService.js"></script>
	    <script type="text/javascript" src="/app/services/timezoneService.js"></script>
	    <script type="text/javascript" src="/app/filters/timezoneFilter.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Timezones client</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li ng-show="authenticated" class="ng-hide"><a href>Welcome <span>{{ user.firstName }} {{ user.lastName }}</span></a></li>
	            <li ng-show="!authenticated" class="ng-hide"><a href ng-click="logIn()">Sign in</a></li>
	            <li ng-show="authenticated" class="ng-hide"><a href ng-click="logOut()">Sign out</a></li>
	          </ul>
	          <form ng-show="authenticated" class="navbar-form navbar-right">
	            <input type="text" class="form-control" placeholder="Search...">
	          </form>
	        </div>
	      </div>
	    </nav>
	    <div class="container-fluid">
	      <div class="row">
	        <div ng-if="authenticated" class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
	            <li ng-class="{ 'active': menu.active }" ng-repeat="(location, menu) in sideBarMenu">
	            	<a ng-href="#{{ location }}">{{menu.name}}</a>
	            </li>
	          </ul>
	        </div>
	        <div ng-class="[{main: true}, {'col-sm-9': authenticated}, {'col-sm-offset-3': authenticated}, {'col-md-10': authenticated}, {'col-md-offset-2': authenticated}]">
	          <ng-view>Loading...</ng-view>
	        </div>
	      </div>
	    </div>
	</body>
</html>