<h4 ng-if="timezone.id">Update Timezone</h4>
<h4 ng-if="!timezone.id">Add Timezone</h4>
<form class="row col-md-8" ng-submit="addOrUpdateTimezone()">
  <div class="form-group">
    <label for="name">Timezone name</label>
    <input type="text" class="form-control" id="name" name="name" ng-model="timezone.name" required placeholder="Timezone name">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" ng-model="timezone.city" required placeholder="City">
  </div>
  <div class="form-group">
    <label for="offset">Offset</label>
    <input type="number" class="form-control" id="offset" name="offset" ng-model="timezone.offset" required min="-720" max="720" placeholder="GMT offset in minutes">
  </div>
  <button ng-if="timezone.id" type="submit" class="btn btn-default pull-right">Update timezone</button>
  <button ng-if="!timezone.id" type="submit" class="btn btn-default pull-right">Add timezone</button>
</form>