<h4>My Timezones</h4>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				#ID
			</th>
			<th>
				Name
			</th>
			<th>
				City
			</th>
			<th>
				GMT Offset
			</th>
			<th>
				Current time
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="timezone in timezones">
			<td>
				{{timezone.id}}
			</td>
			<td>
				{{timezone.name}}
			</td>
			<td>
				{{timezone.city}}
			</td>
			<td>
				{{timezone.offset}}
			</td>
			<td>
				{{timezone.currentTime | date:'hh:mm:ss a':(timezone.offset | timezone)}} {{timezone.offset | timezone}}
			</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="editTimezone(timezone)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>

				<button class="btn btn-danger btn-xs" ng-click="removeTimezone(timezone)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<a href="#/addTimezone">
	<button type="button" class="btn btn-default pull-right">Add timezone</button>
</a>